:root {
  /* Primary */
  --light-red-cta-text: hsl(356, 100%, 66%);
  --very-light-red-cta-hover: hsl(355, 100%, 74%);
  --very-dark-blue-heading: hsl(208, 49%, 24%);

  /* Neutral */
  --grayish-blue-footer-text: hsl(240, 2%, 79%);
  --very-dark-grayish-blue-body: hsl(207, 13%, 34%);
  --very-dark-black-blue-footer-background: hsl(240, 10%, 16%);

  /* Gradient */
  --gradient-very-light-red: hsl(13, 100%, 72%);
  --gradient-light-red: hsl(353, 100%, 62%);
  --gradient-very-dark-gray-blue: hsl(237, 17%, 21%);
  --gradient-very-dark-desaturated-blue: hsl(237, 23%, 32%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-size: 16px;
  font-family: "Overpass", sans-serif;
}

.main-container header {
  position: relative;
  height: 90vh;
  border-bottom-left-radius: 6rem;
  background: linear-gradient(
    70deg,
    var(--gradient-very-light-red) 10%,
    var(--gradient-light-red)
  );
  overflow: hidden;
}

.main-container header .pattern-intro {
  position: absolute;
  top: -225%;
  left: -35%;
  z-index: 1;
}

.main-container header .navbar {
  padding: 4rem 8rem;
  z-index: 10;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-container header .navbar .left-side {
  display: flex;
  align-items: center;
}

.main-container header .navbar .left-side ul {
  list-style: none;
  margin-left: 4rem;
}

.main-container header .navbar .left-side ul img {
  display: inline-block;
}

.main-container header .navbar .left-side ul li {
  display: inline-block;
  margin: 0 10px;
}

.main-container header .navbar .left-side ul li a {
  text-decoration: none;
  color: #fff;
}

.main-container header .navbar .right-side a {
  text-decoration: none;
  color: #fff;
}

.button {
  border: none;
  outline: none;
  border-radius: 4rem;
  padding: 1rem 2.5rem;
  background: #fff;
  color: var(--light-red-cta-text);
  font-weight: 600;
  margin-left: 2rem;
}

.main-container header .hero-content {
  position: relative;
  top: 4rem;
  text-align: center;
  z-index: 10;
}

.main-container header .hero-content h1 {
  color: #fff;
  font-size: 3.7rem;
  font-weight: 500;
}

.main-container header .hero-content p {
  color: #fff;
  opacity: 0.7;
  font-weight: 300;
  margin-top: 10px;
}

.main-container header .hero-content .hero-buttons {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-container header .hero-content .hero-buttons .first-btn,
.main-container header .hero-content .hero-buttons .second-btn {
  margin: 0 8px;
}

.main-container header .hero-content .hero-buttons .first-btn {
  border: none;
  outline: none;
  border-radius: 4rem;
  padding: 1rem;
  background: #fff;
  color: var(--light-red-cta-text);
  font-weight: 600;
}

.main-container header .hero-content .hero-buttons .second-btn {
  border: 1px solid #fff;
  outline: none;
  background: none;
  color: #fff;
  font-weight: 600;
  padding: 1rem;
  border-radius: 4rem;
}
