:root {
  /* Primary */
  --light-red-cta-text: hsl(356, 100%, 66%);
  --very-light-red-cta-hover: hsl(355, 100%, 74%);
  --very-dark-blue-heading: hsl(208, 49%, 24%);

  /* Neutral */
  --grayish-blue-footer-text: hsl(240, 2%, 79%);
  --very-dark-grayish-blue-body: hsl(207, 13%, 34%);
  --very-dark-black-blue-footer-background: hsl(240, 10%, 16%);

  /* Gradient */
  --gradient-very-light-red: hsl(13, 100%, 72%);
  --gradient-light-red: hsl(353, 100%, 62%);
  --gradient-very-dark-gray-blue: hsl(237, 17%, 21%);
  --gradient-very-dark-desaturated-blue: hsl(237, 23%, 32%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-size: 16px;
  font-family: "Overpass", sans-serif;
  overflow-x: hidden;
}

.main-container header {
  position: relative;
  height: 90vh;
  border-bottom-left-radius: 6rem;
  background: linear-gradient(
    70deg,
    var(--gradient-very-light-red) 10%,
    var(--gradient-light-red)
  );
  overflow: hidden;
}

.main-container header .pattern-intro {
  position: absolute;
  top: -225%;
  left: -35%;
  z-index: 1;
}

.main-container header .navbar {
  padding: 4rem 8rem;
  z-index: 10;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-container header .navbar .left-side {
  display: flex;
  align-items: center;
}

.main-container header .navbar .left-side ul {
  list-style: none;
  margin-left: 4rem;
}

.main-container header .navbar .left-side ul img {
  display: inline-block;
}

.main-container header .navbar .left-side ul > li {
  display: inline-block;
  margin: 0 10px;
  position: relative;
}

.main-container header .navbar .left-side ul li > a {
  text-decoration: none;
  color: #fff;
  position: relative;
  padding: 1.5rem 0;
}

/* .main-container header .navbar .left-side ul li > a:hover img {
  transform: rotate(180deg);
  transition: transform 0.4s ease-in;
} */

.main-container header .navbar .left-side ul li ul {
  list-style: none;
  position: absolute;
  left: -80px;
  top: 40px;
  background: #fff;
  padding: 1rem 4.5rem 1rem 1.5rem;
  border-radius: 5px;
  box-shadow: 1px 20px 25px rgba(0, 0, 0, 0.3);
  z-index: 11;
  display: none;
}

.main-container header .navbar .left-side ul li a:hover ~ ul,
.main-container header .navbar .left-side ul li ul:hover {
  display: block;
}

.main-container header .navbar .left-side ul li ul li {
  display: block;
  margin: 15px 0;
}

.main-container header .navbar .left-side ul li ul li a {
  color: var(--very-dark-grayish-blue-body);
  font-weight: 500;
}

.main-container header .navbar .left-side ul li ul li a:hover {
  font-weight: 600;
}

.main-container header .navbar .left-side ul li .inner-links.show {
  display: block;
}

.main-container header .navbar .right-side a {
  text-decoration: none;
  color: #fff;
}

.main-container .mobile-navbar-container {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  border-radius: 5px;
  list-style: none;
  padding: 2rem;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
  box-shadow: 1px 20px 25px rgba(0, 0, 0, 0.3);
  display: none;
}

.main-container .mobile-navbar-container > ul {
  list-style: none;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  width: 100%;
}

.main-container .mobile-navbar-container ul li {
  width: 100%;
  padding: 1rem 0;
}

.main-container .mobile-navbar-container ul li > a {
  text-decoration: none;
  color: var(--gradient-very-dark-desaturated-blue);
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
}

.main-container .mobile-navbar-container ul li > a img {
  filter: invert(31%) sepia(84%) saturate(1678%) hue-rotate(330deg)
    brightness(101%) contrast(100%);
  transform: scale(1.1);
  margin-left: 10px;
}

.main-container .mobile-navbar-container ul li > ul {
  list-style: none;
  display: none;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-top: 10px;
  transition: display 0.4s linear;
}

/* .main-container .mobile-navbar-container ul li > a:hover ~ ul {
  display: block;
  transition: all 0.4s ease-in-out;
} */

.main-container .mobile-navbar-container ul li > ul li a {
  color: var(--very-dark-grayish-blue-body);
}

.main-container .mobile-navbar-container .nav-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.main-container .mobile-navbar-container .nav-buttons a {
  text-decoration: none;
  color: var(--gradient-very-dark-desaturated-blue);
  font-weight: 600;
}

.main-container .mobile-navbar-container .nav-buttons button {
  border: none;
  outline: none;
  border-radius: 4rem;
  padding: 1rem 2.5rem;
  background: linear-gradient(
    70deg,
    var(--gradient-very-light-red) 10%,
    var(--gradient-light-red)
  );
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  margin-top: 1rem;
}

.main-container header .navbar .right-side .hamburger-btn,
.main-container header .navbar .right-side .close-btn {
  display: none;
  cursor: pointer;
}

.button {
  border: none;
  outline: none;
  border-radius: 4rem;
  padding: 1rem 2.5rem;
  background: #fff;
  color: var(--light-red-cta-text);
  font-weight: 600;
  margin-left: 2rem;
  cursor: pointer;
}

.main-container header .hero-content {
  position: relative;
  top: 4rem;
  text-align: center;
  z-index: 5;
}

.main-container header .hero-content h1 {
  color: #fff;
  font-size: 3.7rem;
  font-weight: 500;
}

.main-container header .hero-content p {
  color: #fff;
  opacity: 0.7;
  font-weight: 300;
  margin-top: 20px;
}

.main-container header .hero-content .hero-buttons {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-container header .hero-content .hero-buttons .first-btn,
.main-container header .hero-content .hero-buttons .second-btn {
  margin: 0 8px;
  cursor: pointer;
}

.main-container header .hero-content .hero-buttons .first-btn {
  border: none;
  outline: none;
  border-radius: 4rem;
  padding: 0.8rem 1.3rem;
  background: #fff;
  color: var(--light-red-cta-text);
  font-weight: 600;
}

.main-container header .hero-content .hero-buttons .first-btn:hover {
  color: #fff;
  background: var(--very-light-red-cta-hover);
}

.main-container header .hero-content .hero-buttons .second-btn {
  border: 1px solid #fff;
  outline: none;
  background: none;
  color: #fff;
  font-weight: 600;
  padding: 0.8rem 1.3rem;
  border-radius: 4rem;
}

.main-container header .hero-content .hero-buttons .second-btn:hover {
  background: #fff;
  color: var(--light-red-cta-text);
}

body button:active {
  transform: scale(0.95);
}

.main-container .content-1 {
  display: block;
  position: relative;
  padding: 2rem 0;
}

.main-container .content-1 img {
  position: absolute;
  right: -20%;
}

.main-container .content-1 .mobile-illustration-img {
  display: none;
  position: relative;
  left: 50%;
  top: 6rem;
  transform: translateX(-50%);
}

.main-container .content-1 h2,
.main-container .content-1 h3 {
  color: var(--very-dark-blue-heading);
}

.main-container .content-1 p {
  color: var(--very-dark-grayish-blue-body);
}

.main-container .content-1 h2 {
  text-align: center;
  position: relative;
  top: 8rem;
  font-size: 1.8rem;
}

.main-container .content-1 .inner-content-1,
.main-container .content-1 .inner-content-2 {
  width: 40%;
  position: relative;
  top: 15rem;
  left: 5.5rem;
}

.main-container .content-1 .inner-content-1 h3,
.main-container .content-1 .inner-content-2 h3 {
  margin-bottom: 2rem;
  font-size: 1.5rem;
}

.main-container .content-1 .inner-content-1 p,
.main-container .content-1 .inner-content-2 p {
  line-height: 2rem;
  font-size: 1rem;
  word-wrap: break-word;
}

.main-container .content-1 .inner-content-2 {
  margin-top: 4rem;
}

.main-container .content-2 {
  z-index: 10;
  margin-top: 35%;
  position: relative;
  border-top-right-radius: 7rem;
  border-bottom-left-radius: 7rem;
  background: linear-gradient(
    45deg,
    var(--gradient-very-dark-gray-blue) 20%,
    var(--gradient-very-dark-desaturated-blue)
  );
  height: 60vh;
  overflow: hidden;
}

.main-container .content-2 .circle-img {
  z-index: -5;
  position: absolute;
  top: -125%;
  left: -15.7%;
}

.main-container .content-2 h2,
.main-container .content-2 p {
  position: absolute;
}

.main-container .content-2 h2 {
  color: #fff;
  right: 14.3%;
  top: 30%;
  font-size: 2rem;
  font-weight: 400;
}

.main-container .content-2 p {
  width: 30%;
  color: var(--grayish-blue-footer-text);
  right: 14.3%;
  top: 45%;
  line-height: 2rem;
  font-weight: 400;
}

.main-container .content-2-img {
  position: relative;
  z-index: 10;
  margin-top: -34.5%;
  left: 10%;
}

.main-container .content-3 {
  position: relative;
}

.main-container .content-3 img {
  position: relative;
  left: -21%;
}

.main-container .content-3 .mobile-laptop-illustration {
  display: none;
  left: 50%;
  transform: translateX(-50%);
}

.main-container .content-3 .inner-content-1,
.main-container .content-3 .inner-content-2 {
  position: absolute;
}

.main-container .content-3 .inner-content-1 {
  top: 22%;
  left: 50%;
}

.main-container .content-3 .inner-content-2 {
  top: 57%;
  left: 50%;
}

.main-container .content-3 h3 {
  font-size: 1.5rem;
  color: var(--very-dark-blue-heading);
}

.main-container .content-3 p {
  width: 70%;
  margin-top: 1.7rem;
  line-height: 2rem;
  color: var(--very-dark-grayish-blue-body);
}

footer {
  height: 50vh;
  background: var(--very-dark-black-blue-footer-background);
  border-top-right-radius: 6rem;
  padding: 4rem 20rem 4rem 8rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

footer .footer-nav {
  width: 70%;
}

footer .footer-nav ul {
  list-style: none;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

footer .footer-nav ul li {
  color: #fff;
  font-weight: 600;
}

footer .footer-nav ul li ul {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
}

footer .footer-nav ul li ul li {
  margin: 10px 0;
}

footer .footer-nav ul li ul li a {
  text-decoration: none;
  color: var(--grayish-blue-footer-text);
  font-weight: 400;
}

@media (max-width: 1200px) {
  .main-container .content-1 img {
    right: -40%;
  }

  .main-container .content-2 h2 {
    right: 5%;
  }

  .main-container .content-2 p {
    right: 9%;
  }

  .main-container .content-3 .inner-content-1,
  .main-container .content-3 .inner-content-2 {
    left: 60%;
  }

  .main-container .content-3 .inner-content-1 {
    top: 10%;
  }

  .main-container .content-3 p {
    width: 90%;
  }
}

@media (max-width: 1100px) {
  .main-container .content-2 h2 {
    right: 7%;
    font-size: 1.5rem;
  }

  .main-container .content-2 p {
    right: 7%;
  }

  .main-container .content-3 .inner-content-1,
  .main-container .content-3 .inner-content-2 {
    left: 70%;
  }

  .main-container .content-3 .inner-content-1 {
    top: 10%;
  }
}

@media (max-width: 1000px) {
  .main-container .content-2 h2 {
    top: 20%;
  }

  .main-container .content-2 p {
    top: 30%;
  }

  .main-container .content-3 .inner-content-2 {
    top: 65%;
  }
}

@media (max-width: 960px) {
  .main-container .content-1 img {
    display: none;
  }

  .main-container .content-1 h2 {
    top: 4rem;
  }

  .main-container .content-1 .mobile-illustration-img {
    display: block;
  }

  .main-container .content-1 .inner-content-1,
  .main-container .content-1 .inner-content-2 {
    padding: 3rem;
    width: 100%;
    left: 0;
    top: 8rem;
    text-align: center;
  }

  .main-container .content-1 .inner-content-2 {
    margin-top: -5%;
    margin-bottom: 0;
  }

  .main-container .content-1 .inner-content-1 h3,
  .main-container .content-1 .inner-content-2 h3 {
    text-align: center;
  }

  .main-container .content-2 {
    height: 110vh;
  }

  .main-container .content-2 h2,
  .main-container .content-2 p {
    right: 50%;
    transform: translateX(50%);
    text-align: center;
  }

  .main-container .content-2 h2 {
    top: 60%;
  }

  .main-container .content-2 p {
    top: 70%;
    width: 60%;
  }

  .main-container .content-2-img {
    margin-top: -100%;
    left: 25%;
  }

  .main-container .content-3 {
    margin-top: 45%;
  }
  .main-container .content-3 img {
    display: none;
  }

  .main-container .content-3 .mobile-laptop-illustration {
    display: block;
  }

  .main-container .content-3 .inner-content-1,
  .main-container .content-3 .inner-content-2 {
    position: relative;
    margin-top: 0;
    text-align: center;
    top: 0;
    left: 0;
    padding: 3rem 3rem 0 3rem;
  }

  .main-container .content-3 .inner-content-2 {
    margin-bottom: 5rem;
  }

  .main-container .content-3 .inner-content-1 p,
  .main-container .content-3 .inner-content-2 p {
    width: 100%;
  }
}

@media (max-width: 935px) {
  .main-container header .navbar .left-side ul {
    display: none;
  }

  .main-container header .navbar .right-side a,
  .main-container header .navbar .right-side button {
    display: none;
  }

  .main-container header .navbar .right-side .hamburger-btn {
    display: block;
  }

  .main-container header .navbar .right-side .hamburger-btn.hide {
    display: none;
  }

  .main-container header .navbar .right-side .close-btn.show {
    display: block;
  }

  .main-container .mobile-navbar-container.show {
    display: block;
  }

  .main-container .mobile-navbar-container ul li .inner-links.show {
    display: block;
  }
}

@media (max-width: 790px) {
  .main-container .content-2-img {
    transform: scale(0.9);
    left: 15%;
    margin-top: -110%;
  }

  footer {
    align-items: center;
    flex-direction: column;
    height: 100%;
    padding: 4rem 4rem 0 4rem;
  }

  footer > img {
    margin-bottom: 4rem;
  }

  footer .footer-nav ul {
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 2rem;
  }

  @media (max-width: 680px) {
    .main-container .content-2-img {
      transform: scale(0.8);
      margin-top: -120%;
      left: 10%;
    }
  }

  @media (max-width: 600px) {
    .main-container header .hero-content h1 {
      font-size: 3rem;
    }

    .main-container .content-2-img {
      transform: scale(0.7);
      left: 5%;
      margin-top: -145%;
    }

    .main-container .content-2 h2 {
      top: 50%;
    }

    .main-container .content-2 p {
      top: 65%;
    }
  }

  @media (max-width: 480px) {
    .main-container header {
      background: linear-gradient(
        180deg,
        var(--gradient-very-light-red) 15%,
        var(--gradient-light-red)
      );
    }

    .main-container header .pattern-intro {
      transform: scale(0.4);
      top: -235%;
      left: -250%;
    }

    .main-container header .navbar {
      padding: 4rem 2rem;
    }

    .main-container header .hero-content {
      top: 2rem;
    }

    .main-container header .hero-content h1 {
      font-size: 2.5rem;
    }

    .main-container .content-2 .circle-img {
      transform: scale(0.6);
      top: -80%;
      left: -50%;
    }

    .main-container .content-2-img {
      transform: scale(0.6);
      margin-top: -180%;
      left: -10%;
    }

    .main-container .content-2 h2 {
      top: 45%;
    }

    .main-container .content-2 p {
      top: 55%;
    }

    .main-container .content-3 {
      margin-top: 70%;
    }
  }
}
